<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diacritic Editor - Final Mockup</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
      body {
        font-family: "Amiri", serif;
      }
      .char-focus {
        background-color: rgba(59, 130, 246, 0.15);
        border-bottom: 2px solid #3b82f6;
        border-radius: 3px;
      }
      .word-focus {
        background-color: rgba(30, 41, 59, 0.5);
        border-radius: 8px;
        padding: 0 0.2em;
      }
      .numpad-key {
        position: relative;
        height: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 4px;
        font-size: 2rem;
        line-height: 1;
        transition: all 150ms ease-in-out;
      }
      .numpad-key kbd {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 0.8rem;
        color: #9ca3af;
      }
      .numpad-key .diacritic-name {
        font-size: 0.7rem;
        opacity: 0.7;
        color: #d1d5db;
        padding-bottom: 0.5rem;
      }
      .numpad-key .diacritic-symbol {
        color: #e5e7eb;
        font-size: 2.25rem;
      }
      .numpad-key:hover .diacritic-symbol {
        color: #ffffff;
      }
    </style>
    <!-- ADD HTMX SCRIPT TAG -->
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    <script
      defer
      src="{{ url_for('static', filename='js_libraries/alpinejs.min.js') }}"
    ></script>
  </head>

  <body
    x-data="diacriticEditor"
    @keydown.window="dispatcher({ type: 'KEY_PRESS', payload: $event })"
  >
    <main
      class="flex-1 flex flex-col cursor-pointer select-none"
      :class="{'bg-sky-200': $store.editorStore.editorArea.active, 'bg-slate-300': !$store.editorStore.editorArea.active }"
      @dblclick="dispatcher({ type: 'TOGGLE_EDIT_MODE', payload: $event })"
      @click="dispatcher({ type: 'CLICK_ELEMENT', payload: $event })"
    >
      <!-- ADD AN ID TO THIS WRAPPER DIV -->
      <div
        id="sentence-container"
        class="flex-grow flex items-center justify-center p-4 sm:p-12"
      >
        <!-- This is where the sentence will be injected by htmx -->
      </div>
      {% set custom_html = injected_content %} {% include
      'partials/sentence.html' %}
    </main>

    <script>
      function cycleThrough(currentIndex, maxIndex) {
        return currentIndex + 1 >= maxIndex ? 0 : currentIndex + 1;
      }

      const style01 =
        "color: #FF1493; font-size: 20px; background-color: #F0F8FF;";
      const style02 = "color: #008000; font-size: 16px;";
      const style03 = "font-family: Arial; background-color: #f0f0f0;";
      const style04 = "color: #0000FF; font-family: Verdana;";
      const style05 = "background-color: #FFFFE0; font-size: 18px;";
      const style06 = "color: #800080; font-size: 16px;";
      const style07 = "font-family: Tahoma; color: #DC143C;";
      const style08 = "background-color: #E6E6FA; color: #2F4F4F;";
      const style09 = "font-size: 22px; font-family: Georgia;";
      const style10 = "color: #A52A2A; font-family: Courier;";
      const style11 = "background-color: #FFFACD; font-size: 16px;";
      const style12 = "font-family: Times New Roman; color: #006400;";
      const style13 = "color: #FF4500; background-color: #F5F5F5;";
      const style14 = "font-size: 16px; color: #4682B4;";
      const style15 = "font-family: Lucida Console; font-size: 17px;";
      const style16 = "color: #2E8B57; background-color: #FAFAD2;";
      const style17 = "font-size: 19px; color: #B22222;";
      const style18 = "font-family: Helvetica; color: #000080;";
      const style19 = "background-color: #D3D3D3; font-size: 16px;";
      const style20 = "color: #4B0082; font-family: Impact;";
    </script>

    <script>
      const listValidDiacritics = [
        "َ", // Fatha
        "ِ", // Kasra
        "ُ", // Damma
        "ً", // Fathatan
        "ٍ", // Kasratan
        "ٌ", // Dammatan
        "ْ", // Sukun
        "ّ", // Shadda
        "َّ", // Shadda with Fatha
        "ِّ", // Shadda with Kasra
        "ُّ", // Shadda with Damma
        "ًّ", // Shadda with Fathatan
        "ٍّ", // Shadda with Kasratan
        "ٌّ", // Shadda with Dammatan
      ];

      const diacriticsMap = {
        Fatha: "َ",
        Kasra: "ِ",
        Damma: "ُ",
        Fathatan: "ً",
        Kasratan: "ٍ",
        Dammatan: "ٌ",
        Sukun: "ْ",
        Shadda: "ّ",
        Shadda_Fatha: "َّ",
        Shadda_Kasra: "ِّ",
        Shadda_Damma: "ُّ",
        Shadda_Fathatan: "ًّ",
        Shadda_Kasratan: "ٍّ",
        Shadda_Dammatan: "ٌّ",
      };

      const diaHotkeysMap = {
        "1_0": { ctrl: false, dia: "Fatha" },
        "2_0": { ctrl: false, dia: "Kasra" },
        "3_0": { ctrl: false, dia: "Damma" },
        "4_0": { ctrl: false, dia: "Fathatan" },
        "5_0": { ctrl: false, dia: "Kasratan" },
        "6_0": { ctrl: false, dia: "Dammatan" },
        "0_0": { ctrl: false, dia: "Sukun" },
        "7_0": { ctrl: false, dia: "Shadda" },

        "1_1": { ctrl: true, dia: "Shadda_Fatha" },
        "2_1": { ctrl: true, dia: "Shadda_Kasra" },
        "3_1": { ctrl: true, dia: "Shadda_Damma" },
        "4_1": { ctrl: true, dia: "Shadda_Fathatan" },
        "5_1": { ctrl: true, dia: "Shadda_Kasratan" },
        "6_1": { ctrl: true, dia: "Shadda_Dammatan" },
      };

      navigationHotkeysMap = {
        ArrowRight_0: { ctrl: false, nav: "nextChar" },
        ArrowLeft_0: { ctrl: false, nav: "prevChar" },
        ArrowRight_1: { ctrl: true, nav: "nextWord" },
        ArrowLeft_1: { ctrl: true, nav: "prevWord" },
      };

      function getKeyboardEventType(keyPressed) {
        const keyboardEventId = `${event.key}_${event.ctrlKey ? 1 : 0}`;

        switch (true) {
          case Object.keys(diaHotkeysMap).includes(keyboardEventId):
            return "SET_DIACRITIC";
          case Object.keys(navigationHotkeysMap).includes(keyboardEventId):
            return "NAVIGATE";
          default:
            return "N/A";
        }
      }
    </script>

    <script>
      /* FAT STORE */
      document.addEventListener("alpine:init", () => {
        Alpine.store("editorStore", {
          serverData: {},
          editorArea: { active: true },
          currentElement: {
            diacritic: null,
            letter: null,
            word: null,
            diaIdx: null,
            letterIdx: null,
            wordIdx: null,
          },

          currentPressedKey: {
            key: null,
            ctrl: false,
            alt: false,
            shift: false,
            code: null,
          },

          listenToKeyPress(event) {
            // return early if event.key is not a valid diacritic or not in edit mode:
            // return early if event.key is not a valid diacritic:
            const isEditMode = this.editorArea.active;

            if (!isEditMode) return;

            console.log("Key pressed:", event.key);

            this.currentPressedKey.key = event.key;
            this.currentPressedKey.ctrl = event.ctrlKey;

            const keyComb = `${event.key}_${event.ctrlKey ? 1 : 0}`;

            if (
              getKeyboardEventType(this.currentPressedKey) === "SET_DIACRITIC"
            ) {
              event.preventDefault();

              const dia_en = diaHotkeysMap[keyComb].dia;
              const dia = diacriticsMap[dia_en];
              this.setDiacritc(dia);
            } else if (
              getKeyboardEventType(this.currentPressedKey) === "NAVIGATE"
            ) {
              event.preventDefault();

              const nav = navigationHotkeysMap[keyComb].nav;
              if (nav === "nextChar") {
                console.log(
                  `Navigating to next character: ${this.currentElement.letterIdx}`
                );
                this.navigateLetters(this.currentElement.letterIdx);
              } else if (nav === "prevChar") {
                console.log(
                  `Navigating to previous character: ${this.currentElement.letterIdx}`
                );
                this.navigateLetters(this.currentElement.letterIdx - 1);
              } else if (nav === "nextWord") {
                console.log(
                  `Navigating to next word: ${this.currentElement.wordIdx}`
                );
                this.navigateWords(this.currentElement.wordIdx);
              } else if (nav === "prevWord") {
                console.log(
                  `Navigating to previous word: ${this.currentElement.wordIdx}`
                );
                this.navigateWords(this.currentElement.wordIdx - 1);
              }
            } else {
              console.log("Unhandled key press:", this.currentPressedKey);
              return;
            }
          },

          setDiacritc(dia) {
            // return early if dia is not a valid diacritic:
            const isValidDia = listValidDiacritics.includes(dia);
            if (!isValidDia) return;

            const diaIdx = this.currentElement.diaIdx;
            const selectorDia = `[data-global-dia-idx="${diaIdx}"][data-dia]`;

            // assign keyboard input to textContent of the dia element:
            document.querySelector(selectorDia).textContent = dia;
            // assign keyboard input to data-dia attribute:
            document.querySelector(selectorDia).setAttribute("data-dia", dia);
          },

          clickElement(event) {
            //const selectorLetter = "[data-global-dia-idx]:not([data-dia]";
            // const selectorWord = "[data-wd-idx]";

            const target = event.target.closest("[data-global-dia-idx]");
            if (target) {
              this.currentElement.letterIdx = target.getAttribute(
                "data-global-dia-idx"
              );
              this.currentElement.diaIdx = this.currentElement.letterIdx;
              this.currentElement.wordIdx = target.getAttribute("data-wd-idx");

              this.currentElement.diacritic = document.querySelector(
                `[data-global-dia-idx="${this.currentElement.letterIdx}"][data-dia]`
              ).textContent;

              this.currentElement.word = document.querySelector(
                `[data-wd-idx="${this.currentElement.wordIdx}"]:not([data-global-dia-idx]`
              ).textContent;

              console.log(
                `Diacritic: ${this.currentElement.diacritic}, Letter Index: ${this.currentElement.letterIdx}, Word Index: ${this.currentElement.wordIdx}, Word: ${this.currentElement.word}`
              );
            }
          },

          toggleEditMode() {
            this.editorArea.active = !this.editorArea.active;
            console.log(
              `Active Area: ${this.editorArea.active ? "ON" : "OFF"}`
            );
          },

          navigateWords(wordIdx) {
            const wordsCount = this.serverData.tokens_count;
            this.currentElement.wordIdx = cycleThrough(wordIdx, wordsCount);
            // select the first span letter within word span;
            // [data-wd-idx][data-char-idx="0"]
            const elem = document.querySelector(
              '[data-wd-idx][data-char-idx="0"]'
            );
            const parent = elem?.parentElement;

            console.log(parent);
          },
          navigateLetters(letterIdx) {
            const lettersCount = this.serverData.total_diacritics;
            this.currentElement.letterIdx = cycleThrough(
              letterIdx,
              lettersCount
            );
          },
        });
      });
    </script>

    <script>
      /* THIN COMPONENTS */

      // [data-wd-idx]:not([data-global-dia-idx]) (word span)
      document.addEventListener("alpine:init", () => {
        Alpine.data("diacriticEditor", () => ({

          dispatcher(action) {
            console.log('Action Dispatched:', action);

            switch(action.type) {
              case 'TOGGLE_EDIT_MODE':
                this.$store.editorStore.toggleEditMode(action.payload);
                break;

              case 'CLICK_ELEMENT':
                this.$store.editorStore.clickElement(action.payload);
                break;

              case 'KEY_PRESS':
                this.$store.editorStore.listenToKeyPress(action.payload);
                break;

              default:
                console.warn('Unknown action type:', action.type);
            }
          },

          init() {
            // Initialize with serverData
            this.$store.editorStore.serverData = {{ serverData | tojson | safe }};
            this.$store.editorStore.currentElement.letterIdx = 0;
            this.$store.editorStore.currentElement.diaIdx = 0;
            this.$store.editorStore.currentElement.wordIdx = 0;

          },
        }));
      });
    </script>
  </body>
</html>
